*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right,#ec848b,#f19832,#34cbed);
    
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.forgot{
    text-align: right;
    color: #12c2e9;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
    transition: 0.3s;
}
.sign-link{
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}
.social-icons a{
    display: inline;
    height: 50px;
    width: 50px;
    background-color: black;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin: 15px 6px 0;
    padding: 7px;
}
.social-icons a:hover{
    background-color: #c471ed;
    transition: 0.3s;
}
.social-icons a i{
    color: white;
    font-size: 14px;
}
.sign-link p b{
    color: #12c2e9;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}
